<ion-header>
  <app-toolbar [backButton]="true"></app-toolbar>
  </ion-header>
<ion-content>
  <app-users-detail-image></app-users-detail-image>
<app-users-detail-presentation [currentData]="currentUser?.name"></app-users-detail-presentation>
<app-users-detail-presentation [currentData]="'http://'+currentUser?.website" class="subtitle"></app-users-detail-presentation>
<app-spinner [show]="progress"></app-spinner>
<app-users-detail-data [currentUser]="currentUser"></app-users-detail-data>
</ion-content>
<ion-footer class="ion-no-border">
  <app-date-now></app-date-now>
</ion-footer>