<ion-card (click)="onShowUsersDetail()">
  <ion-item>
    <ion-label class="text-style">
      <p class="item-name-style">{{currentUser?.name}}</p>
      <p>{{currentUser?.email}}</p>
    </ion-label>
  </ion-item>
</ion-card>
