/*#region MODULE-HOME*/
/* Home Title */
.item-style {
    --background: orange;
}
.text-style {
    color:black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
/* Home Logo */
.img-style {
    background-color: black;
    padding: 10px;
}

/* HOME BTN USERS */
.btn-go-users {
    padding: 20px;
    text-align: center;
    ion-button {
        font-weight: 400;
        max-width: 100%;
        width: 100%;
        --border-radius: 30px;
        --background:black;
    }
}
/*#endregion MODULE-HOME*/

/*#region MODULE-USERS*/
/* USERS LIST ITEM */
.item-name-style {
    font-size: 20px !important;
     color:black !important;
}

/* USERS DETAIL PRESENTATION */
.user-detail-icon-content {
    text-align: center;
    margin-top: 10px;
}
.user-detail-icon-style {
    font-size: 150px;
}

/*#endregion MODULE-USERS*/

/*#region MODULE-SHARED*/
/* TOOLBAR */
.avatar-style-contet {
    position: absolute;
    right: 0;
  }
.absolute-left {
    position: absolute;
    left: 0;
  }
.avatar-style {
  padding:1.5vh;
}
/* SPINNER */
.spinner-style {
    text-align: center;
}
/*#endregion MODULE-SHARED*/