<ion-header>
  <app-toolbar [backButton]="true"></app-toolbar>
  </ion-header>
<ion-content>
<app-spinner [show]="progress"></app-spinner>
<div *ngFor="let user of users">
  <app-users-list-item [currentUser]="user"></app-users-list-item>
</div>
</ion-content>
<ion-footer class="ion-no-border">
  <app-date-now></app-date-now>
</ion-footer>