<ion-header>
<app-toolbar></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-home-title></app-home-title>
  <app-home-logo></app-home-logo>
</ion-content>
<ion-footer class="ion-no-border">
  <app-home-btn-users></app-home-btn-users>
  <app-date-now></app-date-now>
</ion-footer>
