<ion-card> 
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text>
        <p class="">{{currentUser?.username}}</p>
      </ion-text>
    </ion-label>
    <ion-icon name="card-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text>
        <p class="">{{currentUser?.email}}</p>
      </ion-text>
    </ion-label>
    <ion-icon name="mail-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text>
        <p class="">{{currentUser?.company?.name}}</p>
      </ion-text>
    </ion-label>
    <ion-icon name="business-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text>
        <p class="">{{currentUser?.phone}}</p>
      </ion-text>
    </ion-label>
    <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text>
        <p class="">{{currentUser?.address.street}} , {{currentUser?.address?.suite}}</p>
      </ion-text>
    </ion-label>
    <ion-icon name="home-outline" slot="start"></ion-icon>
  </ion-item>
</ion-card>