<ion-toolbar mode="md" text-center>
  <ion-buttons class="absolute-left" *ngIf="backButton" slot="start">
    <ion-button (click)="onBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-buttons>
  <ion-title class="ion-text-center">PRUEBA TECNICA</ion-title>
    <ion-avatar class="avatar-style-contet" slot="end">
      <img class="avatar-style" src="{{currentIcon}}" alt="Avatar">
    </ion-avatar>
</ion-toolbar>