<ion-item class="item-style">
  <ion-label class="ion-text-wrap">
    <ion-text>
      <p class="text-style">Estamos a {{dateNow}} y faltan {{remainingDays}} para terminar el mes.</p>
    </ion-text>
  </ion-label>
</ion-item>